name: 'Tests'

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install ollama to call it via summaraizer
        run: curl -fsSL https://ollama.com/install.sh | sh

      - name: Run and setup ollama
        run: |
          ollama serve &
          ollama pull phi3:mini

      - run: npm install

      - run: npm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  testInstallSummaraizer:
    strategy:
      matrix:
        os: [macos-13, macos-14, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - run: npm install

      - run: npm test -- --grep "installSummaraizer"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  distUpToDateCheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: npm install
        run: npm install

      - name: Build
        run: npm run build

      - name: Verify dist is up-to-date
        run:
          git diff --exit-code
